body {
    margin: 0;
}

header{
    background: #F3F7EF;
    max-width: 1555px;
    width: 100%;
    margin: 0 auto; /*ЦЕНТРИРУЕТ ЭЛЕМЕНТ*/
    position: relative;
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 174px 23px 161px;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
}

.logo {
    width: 61px;
    height: 62px;
    flex-shrink: 0;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    margin-right: 69px;
}

.item-two {
    margin-right: 78px;
}

.item:last-child {
    margin: 0;

}

.link {
    color: #2F2A37;
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.selector {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 47px;
    height: 22px;
}

.select {
    background: transparent; /*ПРОЗРАЧНЫЙ ФОН*/
    font-size: 18px;
    width: 47px;
    border: none;   /*УБИРАЕТ ГРАНИЦУ СЕЛЕТОРА*/
    outline: none;  /*УБИРАЕТ БРАУЗЕРНУЮ ОБВОДКУ ПРИ КЛИКЕ*/
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select::-ms-expand {  /*УБИРАЕТ СТРЕЛКУ В IE 10/11*/
    display: none;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 12px;
    height: 7px;
    top: 30%;
    background: url("../images/vector.png") no-repeat;
    background-size: cover;
    margin-left: 35px;
    pointer-events: none;
}

.select-wrapper {
    position: relative;
}

.main-wrapper {
    position: center;
    z-index: -1;
    background: #F3F7EF;
    display: flex;
    justify-content: center;
    max-width: 1555px;
    width: 100%;
    margin: 0 auto;
}

.style-back {
    position: relative;
    display: flex;
    flex-shrink: 0;
    background-image: url("../images/frame.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 721px;
    margin: 186px 104px 162px 137px;
}

.content {
    box-sizing: border-box;
    width: 434px;
    margin-left: 159px;
    padding-top: 127px;
}

.action {
    width: 245px;
    height: 55px;
    margin-bottom: 97px;
    color: #2F2A37;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
    border: none;
    font-family: 'Avenir Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
}

.tagline {
    color: #2F2A37;
    margin: 0;
    font-family: 'Avenir Bold', sans-serif;
    font-style: normal;
    font-size: 54px;
    line-height: 115%;
}

.description {
    color: #6E6C72;
    padding-top: 31px;
    padding-bottom: 55px;
    margin: 0;
    font-family: 'Avenir Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}